body {
  background-color: #EFF6FF;
  color: #2A4A5C;
  }

@font-face {
  font-family: Barlow;
  src: url(font/Barlow-Light.otf);
  font-weight: normal;
}

@font-face {
  font-family: Barlow;
  src: url(font/Barlow-SemiBold.otf);
  font-weight: bold;
}

 * {
  font-family: Barlow;
}

.container {
    display: flex;  
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 0px;
    min-height: 800px;
    max-width: 90%;
    }

  .left {
    width: 450px;
    height: 700px;
    background-image: url("img/bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .right {
    background: white;
    width: 450px;
    height: 700px;
    padding-left: 40px;
  }

  button {
    color: white;
    margin: 0 10px 10px 0;
    border: none;
    height: 30px;
    width: 200px;
  }

  .fb-btn {
    background-color: #255a9b;
  }

  .linkedin-btn {
    background-color: #0076b6;
  }

  form input {
    height: 50px;
    width: 200px;
  }

  .info-box {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    color: #555;
    width: 300px;
  }

  .button {
    background-color: rgb(49, 49, 230);
    width: 260px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin-top: 20px ;
  }

  .info-icon {
    font-size: 12px !important;      
    width: 12px;                    
    height: 12px;
    line-height: 12px;              
    color: #999;
    margin-left: 4px;
    vertical-align: middle;
    cursor: help;
    display: inline-flex;            
    align-items: center;
    justify-content: center;
  }

  .logo {
    color: white;
  }


.divider {
  text-align: center;
  border-bottom: 1px solid #ccc;
  line-height: 0.05em;
  margin: 20px 0;
}

.divider span {
  background: #fff;
  padding: 0 10px;  
  color: #999;
}

h3 {
  margin-top: 30px;
}

